body {
    background-image: url('anime.jpg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1 {
    color: lime;
    background-color: gray;
    font-size: 50;
    border-radius: 25px;
}

h2 {
    color: lime;
}


#MangaList {
    font-size: 60;
}

.button {
  transition-duration: 0.4s;
  background-color: black;
  color: white;
  font-size: 24;
}

.button:hover {
  background-color: white; /* Green */
  color: black;
  font-size: 24;
}

#submit {
  transition-duration: 0.4s;
  background-color: black;
  color: white;
  font-size: 24;
}

#submit:hover {
  background-color: white; /* Green */
  color: black;
  font-size: 24;
}

#Questions {
    background-color: gray;
    border-radius: 25px;
    width: 100%;
    display: none;
}

#MangaList {
    background-color: gray;
    border-radius: 25px;
}

#getLink {
    display: block;
}

#read {
  transition-duration: 0.4s;
  background-color: black;
  color: white;
  font-size: 24;
}

#read:hover {
  background-color: white; /* Green */
  color: black;
  font-size: 24;
}

a:link, a:visited {
  background-color: lime;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 30px;
}

a:hover, a:active {
  background-color: gray;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 30px;
}
